# Copyright (C) 2021  Marcus Rickert
#
# See https://github.com/marcus67/snap-little-brother
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 3 of the License, or
# (at your option) any later version.
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# You should have received a copy of the GNU General Public License along
# with this program; if not, write to the Free Software Foundation, Inc.,
# 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.

# This file contains a LittleBrother configuration for an optional slave host running as a snap.

[StatusServer]
port=5555

[Persistence]
# The slave host will work with a simple file based persistence. The file will be created in /var/spool/little-brother.
# Note that the slave(s) should ALWAYS use sqlite backend no matter which kind of backend the master will use!
database_driver=sqlite

[ClientProcessHandler]
sudo_command=
